.navbar-brand {
	padding-top: 12px;
}

.panel-default {
	margin-left: 15px;
	margin-right: 15px;
}

.alert{
	margin-left: 15px;
	margin-right: 15px;
}

.aw-link-panel{
	float: right;
	padding: 0px;
}

.aw-titulo-panel{
	float: left;
	padding-top: 2px;
}